.productsPage_container {
  margin-top: -140px;
  margin-bottom: 90px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: -25px;
  margin-bottom: -25px;
}

.item {
  margin-right: 25px;
  margin-bottom: 25px;
  width: calc((100% - 85px) / 3);
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

  .zoomIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }

  .priceBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #111;
    color: #fff;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
  }
}

.info {
  padding: 20px;

  .itemTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #111;
  }

  .itemDescr {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
  }

  .button {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;

    .arrow {
      margin-left: 8px;
      margin-bottom: 4px;
      transition: transform 0.2s;
    }

    &:hover .arrow {
      transform: translateX(4px);
    }
  }
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .modalImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
  }
}

@media (max-width: 950px) {
  .productsPage_container {
    margin-top: -100px;
  }
  .item {
    width: calc((100% - 50px) / 2);
  }
}

@media (max-width: 764px) {
  .productsPage_container {
    margin-top: -90px;
  }

  .info {
    height: 130px;
  }

  .modalOverlay {
    .modalImage {
      max-width: 90%;
      max-height: 600px;
    }
  }
}

@media (max-width: 550px) {
  .item {
    width: calc((100% - 25px) / 1);
  }
  .modalOverlay {
    .modalImage {
      max-width: 90%;
      max-height: 500px;
    }
  }
}

@media (max-width: 440px) {
  .productsPage_container {
    margin-top: -100px;
  }
  .modalOverlay {
    .modalImage {
      max-width: 90%;
      max-height: 420px;
    }
  }
}