.swiperContainer {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPage {
  display: flex;
  gap: 2rem;
  margin-top: -160px;
  margin-bottom: 90px;
}

.imageSection {
  flex: 1;
}

.infoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.shortDescription {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4em;
  margin: 3rem 0;
  color: #666;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.actions a {
  width: 60%;
}

.select {
  padding: 0.5rem;
}

.addToCart {
  background: #ff3b30;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.section {
  margin-top: 3rem;
}

.section:last-child {
  margin-bottom: 90px;
}

.section h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
}

.cardList {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 17px;
  line-height: 1.6em;

  color: #333;
}

.cardList li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
  padding: 8px 18px;
  border-radius: 12px;
}

.cardList li div strong {
  font-size: 22px;
  font-weight: 600;
}

.cardList li div {
  font-size: 20px;
}


@media screen and (max-width: 1100px) {
  .actions a {
    width: 70%;
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .productPage {
    gap: 0rem;
  }

  .imageSection img {
    width: 450px;
  }
}

@media screen and (max-width: 955px) {
  .productPage:first-child {
    flex-direction: column;
    margin-top: -120px;
    margin-bottom: 60px;
  }

  .actions a {
    width: 40%;
    font-size: 18px;
  }

  .cardList li div {
    line-height: 1.6;
  }

  .cardList li {
    padding: 6px 0;
  }

  .imageSection img {
    width: 500px;
    margin-bottom: 40px;
  }

  .title {
    display: none;
  }
  .shortDescription {
    margin-top: 0;
  }
}

@media (max-width: 882px) {
  .section h2 {
    font-size: 28px;
  }
}

@media (max-width: 840px) {
  .actions a {
    width: 320px;
    height: 60px !important;
  }
}

@media (max-width: 768px) {
  .cardList {
    margin: 0px;
  }
  .cardList li {
    gap: 12px;
    font-size: 22px;

    padding: 6px 0;
  }

  .cardList li div strong {
    font-weight: 600;
  }

  .shortDescription {
    font-size: 22px;
  }
}

@media screen and (max-width: 764px) {
  .productPage:first-child {
    margin-top: -100px;
  }
}

@media (max-width: 500px) {
  .shortDescription {
    font-size: 20px;
  }

  .cardList li {
    gap: 12px;
    font-size: 22px;
  }

  .cardList li div strong {
    font-size: 20px;
    font-weight: 600;
  }

  .cardList li div {
    font-size: 18px;
    line-height: 1.6;
  }
  .actions a {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .imageSection img {
    height: 330px;
  }
}