.contacts_container {
  margin-top: -140px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
  padding: 0;
  margin-bottom: 120px;
}

.item {
  flex: 1 1 250px;
  max-width: 90%;
  padding: 30px 20px;
  text-align: center;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 6px;

  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(90deg, #a3a3a3, #fca31e, #6b6b6b) border-box;

  transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.item p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.item_title {
  font-weight: 600;
}

.tel,
.email,
.address {
  display: block;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.details {
  flex: 1 1 300px;
  font-size: 16px;
  line-height: 1.6;
}

.map {
  height: 500px;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.contactSection {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.formTitle {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.description {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.form label {
  font-size: 1.5rem;
}

.row label {
  width: calc((100% - 16px) / 2);
}

.input {
  display: block;
  width: 100%;
  min-width: 250px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 6px !important;

  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(90deg, #a3a3a3, #fca31e, #6b6b6b) border-box;
  margin-top: 8px;
}

.textarea {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 6px !important;

  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(90deg, #a3a3a3, #fca31e, #6b6b6b) border-box;
  min-height: 120px;
  resize: vertical;
  margin-top: 8px;
}

.form input:focus,
.form textarea:focus {
  box-shadow: 0 0 5px var(--accent-form-color);
}

.button {
  min-width: 350px;
  font-size: 20px;
  align-self: center;
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.02);
  background: var(--accent-hover-color);
}

@media screen and (max-width: 1140px) {
  .list {
    gap: 20px;
  }
  .item {
    max-width: 100%;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .list {
    gap: 40px;
  }
  .item {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .title {
    font-size: 26px;
  }

  .row {
    display: block;
    margin-bottom: 10px;
  }

  .row input {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .button {
    min-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 22px;
  }
  .item p {
    font-size: 16px;
  }
}
